.header {
    padding: 32px;
    width: 100%;
    background-color: #a4aeb6;
    display: flex;
}

.logo {
    height: 32px;
    margin-right: 10px;
}

.companyName {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}