table {
    background-color: #fff;
    width: 912px;
    table-layout: fixed;
    border-collapse: separate;
}

thead {
    border-bottom: 1px solid #eeeeee;
}

p {
    margin: 0;
}
.actionIcon {
    height: 24px;
    width: 24px;

    /* black to #909090 */
    filter: invert(63%) sepia(0%) saturate(527%) hue-rotate(229deg) brightness(92%) contrast(84%);
}

tbody tr td:first-child span,
thead tr th:first-child span,
tfoot tr td:first-child span {
    margin-left: 24px;
}

tbody tr td:last-child span {
    margin-right: 24px;
    float: right;
    text-align: right;
}

table thead th {
    height: 48px;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

tbody tr {
    height: 72px;
}

table td,
table th {
    border-bottom: 1px solid #ebeef5;
    padding: 12px 0;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
}

tbody tr,
tfoot tr {
    font-size: 16px;
    color: #505050;
}

input {
    font-size: 16px;
    color: #505050;
    border: 1px solid #eeeeee;
    background: #fafafa;
    padding: 10px 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
}

input:focus {
    border: 1px solid #e0dddd;
}

.form {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

.form .btn-add {
    float: right;
}

.form-control {
    width: 160px;
}

.form > div {
    display: inline-block;
    position: relative;
}

.form > div + div {
    margin-left: 16px;
}

.form-header input {
    display: inline;
}

.form > div:nth-child(1) .form-control {
    width: 150px;
}

.form > div:nth-child(2) .form-control {
    width: 230px;
}


table tr th:nth-child(1) {
    width: 220px;
}

table tr th:nth-child(2) {
    width: 280px;
}

button + button {
    margin-right: 10px;
}

.heading {
    color: #6a6a6a;
    font-weight: 500;
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sortDown {
    height: 14px;
    width: 14px;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 10px;
}

.sortUp {
    transform: rotate(180deg);
    height: 14px;
    width: 14px;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 10px;
}

.btn-save {
    font-size: 16px;
    background: #07f;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 11px 20px;
    cursor: pointer;
    transition: all, 0.3s;
}

.btn-cancel {
    font-size: 16px;
    background: #eaeaea;
    color: #07f;
    font-weight: 500;
    border: none;
    padding: 11px 20px;
    cursor: pointer;
    transition: all, 0.3s;
}

.form .btn-cancel,
.form .btn-save {
    float: right;
}

.has-error input {
    border: 1px solid red;
}

.error-msg {
    position: absolute;
    color: red;
    font-size: 12px;
}

.btn-add {
    font-size: 16px;
    background: #eaeaea;
    color: #757575;
    font-weight: 500;
    border: none;
    padding: 11px 20px;
    cursor: pointer;
    transition: all, 0.3s;
    float: right;
}